In [1]:
# Criando uma lista
lst_num = ["Data", "Science", "Academy", "Nota", 10, 10]

In [2]:
type(lst_num)

list

In [3]:
print(type([]))

<class 'list'>

In [4]:
lst_num.count(10)

2

In [10]:
print(type(10))      # Tipo do número inteiro
print(type([]))      # Tipo de uma lista
print(type(()))      # Tipo de uma tupla vazia
print(type({}))      # Tipo de um dicionário
print(type(('a')))  # Tipo de String

<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'str'>

In [11]:
# Criando um novo objeto chamado carro
class Carro(object):
     pass

In [12]:
# Instancia do Objeto
ferrari = Carro()

In [13]:
print(type(ferrari))

<class '__main__.Carro'>

In [23]:
class Estudantes:
    def __init__(self, nome, idade, nota):  # Corrigido para __init__
        self.nome = nome
        self.idade = idade
        self.nota = nota

In [24]:
# Exemplo de uso:
estudante = Estudantes("João", 20, 8.5)
print(estudante.nome)  # Output: João
print(estudante.idade) # Output: 20
print(estudante.nota)  # Output: 8.5

João
20
8.5

In [8]:
class Funcionarios:
    def __init__(self, nome, salario, cargo):
        self.nome = nome
        self.salario = salario
        self.cargo = cargo

    def list_func(self):
        print('Funcionário(a): ' + self.nome + 
              ', tem salário de R$ ' + str(self.salario) + 
              ' e o seu cargo é: ' + self.cargo)

In [5]:
func1 = Funcionarios("Paulo Maia", 20000, "Desenvolvedor Web")
func1.list_func()

Funcionário(a): Paulo Maia, tem salário de R$ 20000 e o seu cargo é: Desenvolvedor Web

In [6]:
print('***** usando atributos*****')

***** usando atributos*****

In [7]:
# Verifica se tem o atributo nome
hasattr(func1, "nome")

True

In [10]:
# Idem 
hasattr(func1, "salario")

True

In [11]:
# Atribui valor para atributo salario
setattr(func1, "salario", 4500)

In [12]:
hasattr(func1, "salario")

True

In [13]:
# Mostra valor inserido no atributo salario com o setaattr
getattr(func1, "salario")

4500

In [14]:
# Deleta o atributo
delattr(func1, "salario")

In [15]:
hasattr(func1, "salario")

False